@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&family=Jaro:opsz@6..72&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

@import "tailwindcss";